:root {
  --root-size: 16px; /* 16 x Xrem */
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-8: 2rem;
  --fontFamily: "MontserratVariable", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "Noto Sans JP",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontSize-3: 1.2rem;
  --fontSize-4: 1.5rem;
  --fontSize-5: 2.0rem;
  --fontSize-6: 2.5rem;
  --color-primary: #436766;
  --color-text: #454442; /* #4c4e4d */
  --color-heading: #373333; /* #444745 */
  --color-accent: #dcdcdc; /* #e1e1e1 */
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: var(--root-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--fontFamily);
  color: var(--color-text);
  font-size: 1rem;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

h1, h2, h3, h4 {
  font-family: var(--fontFamily);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  letter-spacing: -0.025em;
}

h1, h2, h3, h4 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h1 > a, h2 > a, h3 > a, h4 > a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: outside;
  list-style-image: none;
}

ul li, ol li {
  padding-left: 0;
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: 0;
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

a {
  color: var(--color-text);
  text-decoration: underline;
}


/* layout.js */
.global-nav {
  padding: 0.5rem 6rem;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-4);
  color: #111;
  display: flex;
  justify-content: space-between;
}

.global-nav a {
  text-decoration: none;
  color: #111;
}

.global-wrapper {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0  var(--spacing-4);
}

.global-wrapper h1 {
  margin-top: 1rem;
}


/* documents.js */
.post-list-item h2 {
  font-size: 1.8rem;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.post-list-item header {
  margin-bottom: 1rem;
}


/* blog-post.js */
.blog-post header h1 {
  margin-top: 1rem;
}

.summary {
  position: relative;
  padding:0.25rem 1rem;
  margin: 2rem 0;
  top: 0;
}

.summary:before, .summary:after{ 
  position: absolute;
  top: 0;
  content:'';
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.summary:before{
  border-left: solid 1px var(--color-text);
  border-top: solid 1px var(--color-text);
  border-bottom: solid 1px var(--color-text);
  left: 0;
}

.summary:after{
  border-right: solid 1px var(--color-text);
  border-bottom: solid 1px var(--color-text);
  border-top: solid 1px var(--color-text);
  right: 0;
}

.move {
  text-align: right;
  font-weight: var(--fontWeight-bold);
}

.move a {
  text-decoration: none;
}

/* 404.js */
.error {
  text-align: center;
  font-size: var(--fontSize-3);
}

/* index.js */
.home {
  text-align: center;
}

/* Media Query */
@media (max-width: 42rem) {
  .global-nav {
    padding: 0 1.25rem;
  }
  ul, ol {
    list-style-position: inside;
  }
}