:root {
  --spacing-0: 0;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-8: 2rem;
  --fontFamily-sans: "MontserratVariable", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  --fontWeight-normal: 400;
  --fontWeight-bold: 700;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --color-primary: #005b99; /* for <a> */
  --color-text: #2e353f; /* for <h1> ~ <h4> */
  --color-accent: #d1dce5; /* for <hr> and <Bio /> */
}

*, :after, :before {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--fontFamily-sans);
  font-size: 1rem;
  color: var(--color-text);
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

h1, h2, h3, h4 {
  font-family: var(--fontFamily-sans);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1,1;
  letter-spacing: -0.025em;
}

h1, h2, h3, h4 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-size: var(--fontSize-6);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.625;
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul, ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li, ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

a {
  color: var(--color-text);
  text-decoration: underline;
}

.global-nav {
  width: 100%;
  margin: 0;
  padding: 20px;
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-3);
  display: flex;
  justify-content: space-between;
}

.global-nav a {
  text-decoration: none;
  color: var(--color-text);
}

.global-wrapper {
  max-width: 42rem;
  margin: 0 auto;
  padding: 0  var(--spacing-5);
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: 0.5rem;
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: 1rem;
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

/* Article design (blog-post.js) */

.blog-post header h1 {
  margin-bottom: 1rem;
}

.blog-post header p {
  margin-bottom: 0;
}

.summary {
  position: relative;
  padding:0.25em 1em;
  margin: 2em 0;
  top: 0;
}

.summary:before, .summary:after{ 
  position: absolute;
  top: 0;
  content:'';
  width: 10px;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
}

.summary:before{
  border-left: solid 1px var(--color-text);
  border-top: solid 1px var(--color-text);
  border-bottom: solid 1px var(--color-text);
  left: 0;
}

.summary:after{
  border-right: solid 1px var(--color-text);
  border-bottom: solid 1px var(--color-text);
  border-top: solid 1px var(--color-text);
  right: 0;
}

.summary p {
  margin: 0; 
  padding: 0;
}

.move {
  text-align: right;
}

.move a {
  color: var(--color-text);
  text-decoration: none;
}

@media (max-width: 42rem) {
  ul, ol {
    list-style-position: inside;
  }
}